header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	background-color: #F99E8B;
}

.link {
	text-decoration: none;
	display: flex;
}

.one {
	height: 75px;
	background-color: #F8C471 ;
}

.card.level-0 {
	display: flex;
	justify-content: space-between;
	margin: 20px 5% 5px 5%;
	width: 90%; 
	height: 100px;
	background-color: #f1f07f;
}

.card.level-1 {
	display: flex;
	justify-content: space-between;
	margin: 0 5% 0 15%;
	width: 80%; 
	height: 100px;
	background-color: #bcf17f;
	margin-bottom: 5px;
}

.card .userId{
	display: none;
}

.card .comId{
	display: none;
}

img {
	height: 100px;
	width: 100px;
}


